<p><strong>Pesquisa avançada: </strong></p>

<%= form_tag(recommend_power_generators_path, method: "get") do %>
    <div class="advanced-form__input">
      <%= number_field_tag :price, 'Preço', :step => 0.1, class: 'form-control form-control-lg', placeholder: 'Preço' %>
    </div>
    <div class="advanced-form__input">
      <%= number_field_tag :kwp, 'Potencia', :step => 0.1, class: 'form-control form-control-lg', placeholder: 'Potencia' %>
    </div>
    <div class="advanced-form__input">
      <%= submit_tag 'Mostre-me'%>
    </div>
<% end %>